html,
body {
  height: 100%;
}

body {
  /* remove all padding and margins */
  margin: 0;
  padding: 0;
  font-family: Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
  line-height: 150%;
}

.section.header {
  color: white;
  font-size: 175%;
  /* Instructions didn't say this but text wasn't centered. Centered text to mimic the model given. */
  text-align: center;
}

h1 {
  font-size: 200%;
  margin-top: -20px;
}

h3 {
  font-size: 150%;
  /* margin-top of 60px does not mimic the model... */
  margin-top: 60px;
  line-height: 125%;
}

p {
  line-height: 150%;
  color: #333;
}

.section {
  padding: 20% 10%;
  box-shadow: 0 5px 1px rgba(0, 0, 0, 0.6), 0 -5px 1px rgba(0, 0, 0, 0.6);
}

.text {
  width: 50%;
  /* top, R/L, bottom */
  padding: 10px 50px 25px;
  border-radius: 5px;
  background-color: rgba(200, 200, 200, 0.9);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

#section1 .text {
  /* Center the div element regardless of browser window size */
  margin: auto;
}

#section2 .text {
  margin-left: 0;
  margin-right: auto;
}

#section3 .text {
  margin-left: auto;
  margin-right: 0;
}

#title {
  /* "Dark Slate Gray" */
  background-color: #29202a;
}

#section1 {
  /* "Brick Red" */
  background-color: #c44d33;
}

#section2 {
  /* "Sienna" */
  background-color: #974739;
}

#section3 {
  /* "Dark Salmon" */
  background-color: #e9b78b;
}

#section4 {
  /* "Dark Olive Green */
  background-color: #632f2f;
}

/*---- TABLE SETTINGS ----*/
table {
  width: 100%;
}

td,
th {
  padding: 5px;
}
/*---- END OF TABLE SETTINGS ----*/
